*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    margin-top: 50px;
    clear: both;
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgb(255, 255, 255),rgb(120, 215, 215));
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    
    font-weight:px bolder;
    text-align: center;
    transition: 0.6s;
    text-decoration:none;
    color:black
}
h1 a{
  
    font-weight: bolder;
    text-align: center;
    transition: 0.6s;
    text-decoration:none;
    color:black;
    margin-top: 100px;
}
#sifreSecH1{
    margin-top: 60px;
}
p{
    font-weight: bolder;
    text-align: center;
}

input.inpAd,.inpSifre,button{
    display: block;
    margin:10px 0; 
    border-radius: 10px;
    width: 100%;
    padding: 5px;

}
input.kayitSifre,.kayitSifre2,.myBtnKayıt,.kayitAd,.sifreUnutmaAd,.sifreUnutmaSifre,.sifreUnutmaYeni,.myBtnSifreYeni{
    display: block;
    margin:10px 0; 
    border-radius: 10px;
    width: 100%;
    padding: 5px;

}
.logo{
    display: block;
    position: fixed;
    top: 10%;

}
.logo img{
    border-radius: 50px;
    transition: 0.6s;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(0.92);
   
}
h1 a img{
    /* margin-bottom: 500px;
    margin-left: 500px; */
    border-radius: 100px;
    transition: 0.8s;
    cursor: pointer;
}
.alert{
    display: none;
    width: 200px;
    
}
.quit {
    position: fixed;
    top: 20px;
    left: 10px;
    font-size: 30px;
    border: none;
}


#moneyTakeOrGive,.inpTutar,.myBtnYatır,.myBtnÇek{
    display: block;
    width: 100%;
    margin: 5px 0;
    background-color: azure;
    color: black;
    border-radius: 10px;
    padding: 6px;
}
.toast-body{
    background-color: aliceblue;
    color: black;
    padding-left: 10px; 
}


/* 
 @media (max-width:414px) {
    .logo{
    height:50%;
    width:50%
    }

    
 } */